[DEFAULT]
# if relative path will calulate from project root
uml_file_store = test_harness/uml_file_store
report_file_store = test_harness/report_output
log_file_store = test_harness/log_file_store
test_file_store = test_harness/test_file_store

requests_max_retries = 5
requests_timeout = 10

aer_io_url = http://host.docker.internal:9000/ioTracking/aer-incoming
ver_io_url = http://host.docker.internal:9000/ioTracking/verifier-processed
io_calc_interval_time = 1
io_read_timeout = 300
log_calc_interval_time = 5
aer_get_file_url = http://host.docker.internal:9000/download/aerlog
ver_get_file_url = http://host.docker.internal:9000/download/verifierlog
aer_get_file_names_url = http://host.docker.internal:9000/download/aer-log-file-names
ver_get_file_names_url = http://host.docker.internal:9000/download/verifier-log-file-names
get_log_file_url = http://host.docker.internal:9000/download/log-file
get_log_file_names_url = http://host.docker.internal:9000/download/log-file-names

max_files_in_memory = 10000

pv_send_url = http://host.docker.internal:9000/upload/events

pv_send_job_defs_url = http://host.docker.internal:9000/upload/job-definitions

pv_config_update_time = 60

# This should be greater than or equal to the job complete time in the config of the protocol verifier
pv_finish_interval = 30
pv_test_timeout = 600

pv_clean_folders_url = http://host.docker.internal:9000/io/cleanup-test
pv_clean_folders_read_timeout = 300
pv_grok_exporter_url = http://host.docker.internal:9144/metrics
[non-default]
uml_file_store = tests/test_harness/uml_file_store
report_file_store = tests/test_harness/report_output
log_file_store = tests/test_harness/log_file_store
profile_store = tests/test_harness/profile_store
test_file_store = tests/test_harness/test_file_store

aer_io_url = http://test-server/ioTracking/aer-incoming
ver_io_url = http://test-server/ioTracking/verifier-processed
io_calc_interval_time = 1
io_read_timeout = 300
log_calc_interval_time = 1
aer_get_file_url = http://test-server/download/aerlog
ver_get_file_url = http://test-server/download/verifierlog
aer_get_file_names_url = http://test-server/download/aer-log-file-names
ver_get_file_names_url = http://test-server/download/verifier-log-file-names
get_log_file_url = http://test-server/download/log-file
get_log_file_names_url = http://test-server/download/log-file-names

metrics_from_kafka = False
kafka_metrics_host = host.docker.internal:9092
kafka_metrics_topic = default.BenchmarkingProbe_service0

max_files_in_memory = 10000

pv_send_url = http://test-server/upload/events
pv_send_as_pv_bytes = False

pv_send_job_defs_url = http://test-server/upload/job-definitions

pv_config_update_time = 1

pv_finish_interval = 3
pv_test_timeout = 60

pv_clean_folders_url = http://test-server/io/cleanup-test
pv_clean_folders_read_timeout = 300
pv_grok_exporter_url = http://test-grok-server/metrics