[DEFAULT]
# if relative path will calulate from project root
uml_file_store = test_harness/uml_file_store
report_file_store = test_harness/report_output
log_file_store = test_harness/log_file_store

requests_max_retries = 5
requests_timeout = 10

aer_io_url = http://host.docker.internal:9000/ioTracking/aer-incoming
ver_io_url = http://host.docker.internal:9000/ioTracking/verifier-processed
io_calc_interval_time = 1
log_calc_interval_time = 5
aer_get_file_url = http://host.docker.internal:9000/download/aerlog
ver_get_file_url = http://host.docker.internal:9000/download/verifierlog
aer_get_file_names_url = http://host.docker.internal:9000/download/aer-log-file-names
ver_get_file_names_url = http://host.docker.internal:9000/download/verifier-log-file-names

max_files_in_memory = 10000

pv_send_url = http://host.docker.internal:9000/upload/events

pv_send_job_defs_url = http://host.docker.internal:9000/upload/job-definitions

pv_config_update_time = 60

# This should be greater than or equal to the job complete time in the config of the protocol verifier
pv_finish_interval = 30
[non-default]
uml_file_store = tests/test_harness/uml_file_store
report_file_store = tests/test_harness/report_output
log_file_store = tests/test_harness/log_file_store

aer_io_url = http://test-server/ioTracking/aer-incoming
ver_io_url = http://test-server/ioTracking/verifier-processed
io_calc_interval_time = 1
log_calc_interval_time = 1
aer_get_file_url = http://test-server/download/aerlog
ver_get_file_url = http://test-server/download/verifierlog
aer_get_file_names_url = http://test-server/download/aer-log-file-names
ver_get_file_names_url = http://test-server/download/verifier-log-file-names

max_files_in_memory = 10000

pv_send_url = http://test-server/upload/events

pv_send_job_defs_url = http://test-server/upload/job-definitions

pv_config_update_time = 1

pv_finish_interval = 3

pv_clean_folders_url = http://test-server/io/cleanup-folders