[DEFAULT]
requests_max_retries = 5
requests_timeout = 10

metrics_from_kafka = False
kafka_metrics_host = host.docker.internal:9092
kafka_metrics_topic = BenchmarkingProbe_service0
kafka_metrics_collection_interval = 1

message_bus_protocol = HTTP
kafka_message_bus_host = host.docker.internal:9092
kafka_message_bus_topic = Protocol_Verifier_Reception


testing_external_app = False


[non-default]

