[DEFAULT]
requests_max_retries = 5
requests_timeout = 10

metrics_from_kafka = True
# Note that 172.17.0.1 is the Docker default IP, that allows us to run within GitHub actions
# Replaces host.docker.internal
kafka_metrics_host = 172.17.0.1:9092
kafka_metrics_topic = BenchmarkingProbe_service0
kafka_metrics_collection_interval = 1

message_bus_protocol = KAFKA3
kafka_message_bus_host = 172.17.0.1:9092
kafka_message_bus_topic = Protocol_Verifier_Reception
 
[non-default]
[protocol-verifier]
# `log_calc_interval_time` will soon be deprecated and moved to test config
log_calc_interval_time = 5

aer_log_file_prefix = Reception
ver_log_file_prefix = pv

get_log_file_url = http://172.17.0.1:9000/download/log-file
get_log_file_names_url = http://172.17.0.1:9000/download/log-file-names

pv_send_url = http://172.17.0.1:9000/upload/events
pv_send_as_pv_bytes = True

send_json_without_length_prefix = True

pv_send_job_defs_url = http://172.17.0.1:9000/upload/job-definitions
pv_config_update_time = 60

# This should be greater than or equal to the job complete time in the config of the protocol verifier
# `pv_finish_interval` will soon be deprecated and moved to test config
pv_finish_interval = 30

# `pv_test_timeout` will soon be deprecated and moved to test config
pv_test_timeout = 30

pv_clean_folders_url = http://172.17.0.1:9000/io/cleanup-test
pv_clean_folders_read_timeout = 300

pv_grok_exporter_url = http://172.17.0.1:9144/metrics